#################################
#  Local environment variables  #
#################################


# fd default command
FD_FLAGS='--strip-cwd-prefix --follow 2> /dev/null'

# fzf height
FZF_HEIGHT="100%"


#####################
#  Default configs  #
#####################

export FZF_DEFAULT_COMMAND="fd ${FD_FLAGS}"
export FZF_DEFAULT_OPTS="
    --color fg:7,bg:8,hl:2,fg+:7,bg+:{{ fzf.selected_bg }},hl+:9
    --color gutter:8,scrollbar:7,label:7:bold
    --color border:8,info:7,prompt:1,spinner:2
    --color pointer:1,marker:7,separator:{{ fzf.selected_bg }},header:1
    --color preview-bg:{{ fzf.preview_bg }},preview-border:{{ fzf.preview_bg }}
    --color preview-scrollbar:8,preview-label:1
    --height ~$FZF_HEIGHT
    --no-scrollbar
    --info=default
    --preview-window hidden:border-sharp
    --preview 'lesspipe.sh {}'
    --preview-label='PREVIEW'
    --pointer='▌'
    --marker='▎'
    --prompt=' → '
    --highlight-line
    --tabstop=4
    --layout=reverse
    --margin=1,5
    --padding=0,0
    --multi
    --bind '?:toggle-preview'
    --bind 'ctrl-space:toggle'
    --bind 'ctrl-j:toggle-out'
    --bind 'ctrl-k:toggle-in'
    --bind 'ctrl-n:preview-up'
    --bind 'ctrl-p:preview-down'
    --bind 'enter:accept'
    --bind 'alt-i:accept'
    --bind 'alt-a:toggle-all'
    --bind 'tab:down'
    --bind 'shift-tab:up'"


############
#  Ctrl-R  #
############

export FZF_CTRL_R_OPTS="
    --info=hidden
    --preview 'echo {}'
    --preview-window hidden
    --bind 'enter:accept'"


############
#  Ctrl-T  #
############

export FZF_CTRL_T_COMMAND="fd --color=always ${FD_FLAGS}"
export FZF_CTRL_T_OPTS="
    --ansi
    --select-1
    --exit-0"


##########################
#  Tab completion setup  #
##########################

# Use external sources
source $XDG_DATA_HOME/zsh/plugins/fzf-tab-source/*.plugin.zsh

# General
zstyle ':fzf-tab:complete:*:*' fzf-flags \
    --color fg:7,bg:8,hl:2,fg+:7,bg+:{{ fzf.selected_bg }},hl+:9 \
    --color gutter:8,scrollbar:7,label:7:bold \
    --color border:8,info:7,prompt:1,spinner:2 \
    --color pointer:1,marker:7,separator:{{ fzf.selected_bg }},header:1 \
    --color preview-bg:{{ fzf.preview_bg }},preview-border:{{ fzf.preview_bg }} \
    --color preview-scrollbar:8,preview-label:1 \
	--no-scrollbar
    --min-height="5" \
    --height="~$FZF_HEIGHT" \
    --info=default \
    --scrollbar='▓'

# Group colors
FZF_TAB_GROUP_COLORS=(
    $'\033[33m' $'\033[34m' $'\033[33m' $'\033[34m' $'\033[33m' $'\033[34m'
)
zstyle ':fzf-tab:*' group-colors $FZF_TAB_GROUP_COLORS

# Switch group bindings
zstyle ':fzf-tab:*' switch-group 'ctrl-h' 'ctrl-l'

# Disable sort when completing `git checkout`
zstyle ':completion:*:git-checkout:*' sort false

# Set descriptions format to enable group support
zstyle ':completion:*:descriptions' format '[%d]'

# Set list-colors to enable filename colorizing
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}

# Preview directory's content with eza when completing cd
zstyle ':fzf-tab:complete:cd:*' fzf-flags \
    --preview-window=nohidden
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'eza -1 --color=always $realpath'

# Kill
zstyle ':fzf-tab:complete:kill:argument-rest' fzf-preview \
    '[[ $group == "[process ID]" ]] && ps --pid=$word -o cmd --no-headers -w -w'

# Systemctl
zstyle ':fzf-tab:complete:systemctl-*:*' fzf-preview \
  'SYSTEMD_COLORS=1 systemctl status $word'

# Env vars
zstyle ':fzf-tab:user-expand::' \
    fzf-preview 'less $word'
zstyle ':fzf-tab:complete:(-command-|-parameter-|-brace-parameter-|export|unset|expand):*' \
	fzf-preview 'echo ${(P)word}'

# Git
zstyle ':fzf-tab:complete:git-*:*' fzf-flags \
zstyle ':fzf-tab:complete:git-(add|diff|restore):*' fzf-preview \
	'git diff $word | delta'
zstyle ':fzf-tab:complete:git-log:*' fzf-preview \
	'git log --color=always $word'
zstyle ':fzf-tab:complete:git-help:*' fzf-preview \
	'git help $word | bat -plman --color=always'
zstyle ':fzf-tab:complete:git-show:*' fzf-preview \
	'case "$group" in
	"commit tag") git show --color=always $word ;;
	*) git show --color=always $word | delta ;;
	esac'
zstyle ':fzf-tab:complete:git-checkout:*' fzf-preview \
	'case "$group" in
	"modified file") git diff $word | delta ;;
	"recent commit object name") git show --color=always $word | delta ;;
	*) git log --color=always $word ;;
	esac'

# Man
zstyle ':fzf-tab:complete:(\\|)run-help' fzf-preview \
  'run-help $word | bat -lman'

zstyle ':fzf-tab:complete:(\\|*/|)man:' fzf-preview \
  'man $word | bat -lman'

# Accept when enter (but not execute)
zstyle ':fzf-tab:*' fzf-bindings 'enter:accept'


########################
#  Zoxide interactive  #
########################

export _ZO_FZF_OPTS="${FZF_DEFAULT_OPTS}
    --no-sort
    --preview-window nohidden:border-sharp
    --bind 'ctrl-d:'
    --bind 'ctrl-f:'
    --preview '$ERD_PREVIEW'
    --preview-window border-sharp"


##########################
#  Unset local env vars  #
##########################

unset FD_FLAGS
unset FZF_HEIGHT
